
.home{
	display: flex;
	flex-wrap: wrap;
	gap:1.5rem;
	min-height: 100vh;
	align-items: center;
	background:url(../images/home-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
  }
  
	.home .content{
		flex:1 1 40rem;
		padding-top: 6.5rem;
	}
	
	.home .image{
		flex:1 1 40rem;
	}
	
	.home .image img{
		width:100%;
		padding:1rem;
		animation:float 3s linear infinite;
	}
  
  @keyframes float{
	0%, 100%{
	  transform: translateY(0rem);
	}
	50%{
	  transform: translateY(3rem);
	}
  }
  
  .home .content h3{
	font-size: 5rem;
	color:#333;
  }
  
  .home .content p{
	font-size: 1.4rem;
	color:#666;
	padding:1rem 0;
  }
  
  .home_nosotros{
	font-size: 4rem;
	color:#333;
	text-align: center;
  }

  .home_nosotros--p{
	font-size: 1.7rem;
	color:#666;
	padding:1rem 0;
  }
.indexContainer {
    margin: 40px auto;

    .indexContainer__h2{
        text-align: center;
        margin-bottom: 40px;
		margin: 50px;
        
    }
    .indexContainer__p {
        @media(max-width:992px){
            width: 90%;
            margin: 0 auto;
        }
    }
}

.videoCafe{
	margin: 20px auto;

	.videoCafe__mod{
		display: flex;
		padding: 10px;
		width: 1200px;
		height: 400px;
		margin-top: 40px;
		margin-left: 20px;
		border-radius: 5px;
	}
}
.footer{
	background:#000;
	text-align: center;
  }
  
  .footer .share{
	display: flex;
	gap:1.5rem;
	justify-content: center;
	flex-wrap: wrap;
  }
  
  .footer .credit{
	padding:2.5rem 1rem;
	color:#fff;
	font-weight: normal;
	font-size: 2rem;
  }
  
  .footer .credit span{
	color:var(--red);
  }
  

/*media queris*/
/* media queries  */

@media(max-width:991px){

	html{
	  font-size: 55%;
	}
  
	header{
	  padding:2rem;
	}
  
	section{
	  padding:2rem;
	}
  
  }
  
  @media(max-width:768px){
  
	#menu-bar{
	  display: initial;
	}
  
	header .navbar{
	  position: absolute;
	  top:100%; left: 0; right:0;
	  background: #f7f7f7;
	  border-top: .1rem solid rgba(0,0,0,.1);
	  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
  
	header .navbar.active{
	  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
  
	header .navbar a{
	  margin: 1.5rem;
	  padding:1.5rem;
	  display: block;
	  border:.2rem solid rgba(0,0,0,.1);
	  border-left:.5rem solid var(--red);
	  background:#fff;
	}
  
  }
  
  @media(max-width:450px){
  
	html{
	  font-size: 50%;
	}
  
	.order .row form .inputBox input{
	  width:100%;
	}
  
  }